body {
    font-family: "Montserrat", sans-serif;
    background-image: url(../img/fon3.jpg);
}

.page {
    padding-top: 100px;
    padding-bottom: 100px;
}

body {
    font-family: "Montserrat", sans-serif;
}

.page {
    padding-top: 100px;
    padding-bottom: 100px;
}

@media (max-width: 576px) {
    .page {
        padding-top: 70px;
        padding-bottom: 70px;
    }
}

.page-light1 {
    background: url(../img/fon1.png);
    background-repeat: no-repeat;
}

.page-dark {
    background-color: #3a0202;
}

.fon-light {
    background: url(../img/fon2.jpg);
    width: 100%;
    font-weight: 700;
    background-repeat: no-repeat;
    display: block;
    background-position: 0 center;
}

.wrapper {
    max-width: 1110px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 26px;
    padding-top: 46px;
}

@media (max-width: 500px) {
    .header-logo {
        max-width: 130px;
    }
}

@media (max-width: 992px) {
    nav {
        display: none;
    }
}

.nav {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    font-size: 20px;
}

@media (max-width: 992px) {
    .nav {
        display: none;
    }
}

.nav-item {
    margin-right: 60px;
}

.nav-link {
    color: #ffffff;
    text-decoration: none;
}

.nav-info .nav-item {
    margin-left: 25px;
    margin-right: 25px;
}

.nav-bar {
    position: absolute;
    background-color: #D7B399;
    top: 0;
    right: 100%;
    height: 100vh;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: position 2.9s;
    -webkit-transition: position 2.9s;
    -moz-transition: position 2.9s;
    -ms-transition: position 2.9s;
    -o-transition: position 2.9s;
}

.cart {
    background-image: url(../img/cart.svg);
    padding-left: 45px;
    padding-right: 0;
    display: block;
    height: 30px;
    background-repeat: no-repeat;
    background-position: 0 center;
    background-color: transparent;
    border: none;
    outline: none;
}

.cart:focus {
    outline: none;
}

.cart-count {
    background-image: url(../img/arrov.svg);
    background-repeat: no-repeat;
    background-position: 0 center;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    padding: 10px 17px 10px 23px;
    display: block;
}

.title-h2 {
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
}

@media (max-width: 500px) {
    .title-h2 {
        font-size: 28px;
    }
}

.nav-bar {
    position: absolute;
    background-color: #D7B399;
    top: 0;
    right: 100%;
    height: 100vh;
    width: 250px;
    display: flex;
    justify-content: center;
    transition: position 2.9s;
    -webkit-transition: transform 2.9s ease-in-out;
    -moz-transition: transform 2.9s ease-in-out;
    -ms-transition: transform 2.9s ease-in-out;
    -o-transition: transform 2.9s ease-in-out;
}

.nav-bar .toggle {
    left: 0;
    box-shadow: 1px 0 15px 2px rgba(0, 0, 0, 0.4);
    z-index: 9999;
}

.nav-bar .toggle-menu {
    background-color: #212121;
    width: 24px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 7px 12px;
    cursor: pointer;
}

@media (min-width: 993px) {
    .nav-bar .toggle-menu {
        display: none;
    }
}

@media (max-width: 500px) {
    .nav-bar .toggle-menu {
        width: 18px;
        height: 18px;
    }
}

.nav-bar .toggle .line1 {
    background-color: #000000;
    transform: scale(0.9) rotateZ(-45deg) translate(-6px, 4px);
}

.nav-bar .toggle .line2 {
    display: none;
}

.nav-bar .toggle .line3 {
    background-color: #000000;
    transform: scale(0.9) rotateZ(45deg) translate(-6px, -4px);
}

.nav-bar .toggle .toggle-menu {
    background-color: white;
}

.toggle {
    left: 0%;
    box-shadow: 1px 0 15px 2px rgba(0, 0, 0, 0.4);
    z-index: 9999;
}

.toggle-menu {
    background-color: #212121;
    width: 24px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 7px 12px;
    border-radius: 5px;
    cursor: pointer;
}

@media (min-width: 993px) {
    .toggle-menu {
        display: none;
    }
}

.line {
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: #fff;
    transition: transform 0.2s ease-out;
    -webkit-transition: transform 0.2s ease-out;
    -moz-transition: transform 0.2s ease-out;
    -ms-transition: transform 0.2s ease-out;
    -o-transition: transform 0.2s ease-out;
}

.toggle.line1 {
    background-color: #000000;
    transform: scale(0.9) rotateZ(-45deg) translate(-6px, 4px);
}

.toggle.line2 {
    display: none;
}

.toggle.line3 {
    background-color: #000000;
    transform: scale(0.9) rotateZ(45deg) translate(-6px, -4px);
}

.toggle .toggle-menu {
    background-color: white;
}

.nav-list {
    list-style: none;
    padding-left: 0;
    font-size: 14px;
}

.nav-list-item {
    text-align: center;
    padding: 20px 0;
}

.nav-link::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1%;
    background-color: #fff;
    transform: scaleX(0);
    transition: transform 0.4s ease-in-out;
    transform-origin: left;
    -webkit-transition: transform 0.4s ease-in-out;
    -moz-transition: transform 0.4s ease-in-out;
    -ms-transition: transform 0.4s ease-in-out;
    -o-transition: transform 0.4s ease-in-out;
}

.nav-link:hover::before {
    transform: scaleX(1);
}

.btn {
    background-color: #D7B399;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 18px 28px;
}

.btn-xs {
    padding: 10px 20px;
    display: block;
    width: 60px;
    height: 30px;
    text-align: center;
}

.btn-center {
    display: flex;
    align-items: center;
    text-align: center;
    max-width: 168px;
    margin: 0 auto;
}

.btn-center span {
    margin-right: 15px;
}

.main {
    display: flex;
    justify-content: space-between;
    color: #fff;
}

@media (max-width: 992px) {
    .main {
        flex-wrap: wrap;
    }
}

.main-item {
    flex: 0 0 50%;
}

@media (max-width: 992px) {
    .main-item {
        flex: 0 0 100%;
    }
}

@media (max-width: 992px) {
    .main .sale {
        text-align: center;
    }
}

.main .sale-description {
    font-size: 40px;
    letter-spacing: -0.6px;
}

@media (max-width: 576px) {
    .main .sale-description {
        font-size: 20px;
    }
}

.main .sale-title {
    font-size: 28px;
    font-weight: 700;
    margin-top: 83px;
    margin-bottom: 66px;
}

@media (max-width: 576px) {
    .main .sale-title {
        font-size: 28px;
        margin-top: 10px;
        margin-bottom: 45px;
    }
}

.box {
    position: relative;
}

@media (max-width: 992px) {
    .box {
        max-width: 600px;
        margin: 50px auto 0;
    }
}

@media (max-width: 576px) {
    .box {
        max-width: 350px;
    }
}

.box-price {
    position: absolute;
    right: 15px;
    top: 35px;
    text-align: right;
}

.box-price-old {
    font-size: 24px;
    font-weight: 700;
    margin-right: 48px;
    text-align: center;
    margin-top: -41px;
    color: #fff;

}

@media (max-width: 576px) {
    .box-price-old {
        font-size: 14px;
    }
}

.box-price-new {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    margin-top: 28px;
    margin-right: 49px;
    text-align: right;
}


@media (max-width: 576px) {
    .box-price-new {
        font-size: 22px;
        margin-top: 4px;
    }
}

.box-image {
    width: 100%;
    max-width: 500px;
}

.notice {
    text-align: center;
    color: #fff;
    padding: 64px 0 54px;
}

@media (max-width: 576px) {
    .notice {
        padding: 40px 0 42px;
    }
}

.notice-title {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 400;
}

@media (max-width: 576px) {
    .notice-title {
        font-size: 18px;
        line-height: 1.5;
    }
}

.notice-title span {
    font-weight: 700;
}

@media (max-width: 500px) {
    .notice-title span {
        display: block;
    }
}

.notice-description {
    font-size: 21px;
}

@media (max-width: 576px) {
    .notice-description {
        font-size: 14px;
    }
}